$white : #FFFFFF;
$gray : #D2D2D2;
$dark-gray : #8C8787;
$black : #000000;
$ligt-blue : #0085FF;
$dark-blue : #1877F2;
$green : #34A853;
$green-lt : #ccdfd1f3;
$blue :#4285F4;
$e-light-blue :#515D79;
$ex-light-blue :#bed2f370;
$ex-gray : #515D79;
$red : #EA4335;
$red-rt : #e6b5b0;
$yellwo : #FBBC05;
$lite-white: #e1e1e1;

//sizes
$Radius-sm : 5px;
$Radius-md : 10px;
$Radius-lg : 15px;
$Radius-xl : 20px;